* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --texto_1: 30px;
  --texto_2: 24px;
  --color_base: #c2eabd;
  --color_cabecera: #f9dc5c;
  --color_fondo: #011936;
}
body {
  background-color: var(--color_fondo);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  width: 1200px;
  min-width: 340px;
  height: auto;
  border-radius: 15px 15px 15px 15px;
  background-color: var(--color_base);
  display: grid;
  grid-template-rows: 35px auto;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'cabecera cabecera'
    'datos resultados';
}
.cabecera {
  grid-area: cabecera;
  height: 35px;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--color_cabecera);
  font-size: var(--texto_1);
  font-weight: bold;
  text-align: center;
}
.contenedor_input {
  grid-area: datos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.contenedor_input > div {
  padding: 20px 0 20px 0;
}
.opcion {
  font-size: var(--texto_2);
  font-weight: bold;
  text-align: center;
}
.boton {
  background-color: #265363;
  border: 0;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: var(--texto_2);
  font-weight: bold;
  padding: 12px 25px;
  margin-top: 10px;
}
.boton:hover {
  background-color: #3d6970;
}

/* .check{
  display: none;
} */

#contenedor_resultado {
  grid-area: resultados;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contenedor_resultado > div {
  padding: 10px;
  text-align: center;
}

.resultado {
  font-size: var(--texto_1);
  font-weight: bold;
}
